.avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-subtle);
  overflow: visible;
  flex-shrink: 0;
}

.text {
  background: var(--bg-base);
  border-radius: 999px;
}

.pic {
  background: var(--bg-base);
  border-radius: 24px;
}

.large {
  width: 48px;
  height: 48px;
}

.medium {
  width: 40px;
  height: 40px;
}

.small {
  width: 32px;
  height: 32px;
}

.xsmall {
  width: 24px;
  height: 24px;
}

.label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  text-align: center;
  white-space: nowrap;
  font-synthesis: none;
}

.labelLarge {
  font-family: var(--font-serif);
  font-size: var(--heading-xs-size);
  line-height: var(--heading-xs-line);
  letter-spacing: var(--heading-xs-spacing);
  font-weight: 560;
  font-variation-settings: "GRAD" -40, "wdth" 54, "opsz" 89;
}

.labelMedium {
  font-family: var(--font-serif);
  font-size: var(--heading-xs-size);
  line-height: var(--heading-xs-line);
  letter-spacing: var(--heading-xs-spacing);
  font-weight: 560;
  font-variation-settings: "GRAD" -40, "wdth" 54, "opsz" 89;
}

.labelSmall {
  font-family: var(--font-serif);
  font-size: var(--text-sm-size);
  line-height: var(--text-sm-line);
  letter-spacing: var(--display-sm-spacing);
  font-weight: 560;
}

.labelXsmall {
  font-family: var(--font-serif);
  font-size: var(--text-xs-size);
  line-height: var(--text-xs-line);
  letter-spacing: var(--display-sm-spacing);
  font-weight: 560;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}

.badge {
  position: absolute;
  display: inline-flex;
}

.badgeLarge {
  right: -3px;
  bottom: -3px;
}

.badgeMedium {
  right: -3px;
  bottom: -3px;
}

.badgeSmall {
  right: -3px;
  bottom: -3px;
}
